.main-label {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-label h2 {
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
    color: #1F7A55;
    font-weight: 700;
}

.main-label h3 {
    font-size: 1rem;
    margin: 0;
    color: #375e29;
    font-weight: 500;
}