form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 500px;
    width: 90%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

h5 {
    padding: 1rem 0rem;
    font-size: 1rem;
    margin: 0;
    color: #555;
    font-weight: 500;
}

input[type="text"],
button {
    width: 100%;
    box-sizing: border-box;
    border-radius: 6px;
    font-size: 1rem;
}


input[type="text"] {
    padding: 1rem;
    border: 1px solid #ccc;
}

button {
    padding: 1rem;
    border: none;
    background-color: #ff4d4d;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #e60000;
}

.error{
    padding-top: 1rem;
    font-weight: bold;
    color:#9F0712;
}