html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #B9F8CF;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'Roboto', sans-serif;
}

:host {
    display: block;
    height: 100%;
}

app-header,
app-guest-search,
app-your-table {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}